.header-main {
    position: relative;
    background-image: url("https://images.unsplash.com/photo-1604014237800-1c9102c219da?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80");
    object-fit: cover;
    background-position: left;
    height: calc(100vh - 60px);
    margin-top: 60px;
}

.header-text-container {
    max-width: 80%;
    margin: auto;
    height: 100%;
    display: flex;
    align-items: center;
}

.header-text {
    max-width: 50%;
    text-align: center;

}

.header-text>h1 {
    color: black;
    font-weight: bolder;
    font-size: 3rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header-text>p {
    font-size: 24px;
}

.btns {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 5px;
}

.btn {
    text-decoration: none;
    outline: none;
    border: none;
    width: 25%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background-color: #1E40AF;
    border-radius: 5px;
    padding: .7rem 0;

}

.btn:hover {
    cursor: pointer;
    box-shadow: 0 0 5px black;
}

.search-btn {
    background-color: red;
    color: white;
}

.know-btn {
    background-color: white;
    color: red;
}

.header-text>h1>span {
    color: red;
}

@media screen and (max-width:768px) {

    .header-main {
        height: 100vh;
        padding: 10px;
    }

    .header-text {
        min-width: 100%;
    }

}